@import url(../style/color.css);
@import url(../style/font.css);

html, body {
  background: var(--grey-100);
  color: var(--grey-800);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* It's always good to specify this to make the website perfect on other
   * systems...
   */
  font-family: var(--font-normal);
  line-height: 1.2em;
  font-size: 12pt;
}

input, textarea {
  width: 100%;
  padding: 0.5em 0.6em;
  box-sizing: border-box;
  background-color: var(--grey-000);
  color: var(--grey-800);
  border: 1px solid var(--grey-400);
  border-radius: 2px;
  font-family: var(--font-normal);
  line-height: 1.2em;
  font-size: 1em;
  &:hover {
    border-color: var(--grey-500);
  }
  &:active, &:focus {
    border-color: var(--blue-500);
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance:textfield;
}

.root, .app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
