@import url(../style/color.css);

.bookDateEntry {
  margin: 0.5em 0;
  & > .header {
    margin: 0;
    padding: 0.5em;
    background-color: var(--grey-200);
    border: 1px solid var(--grey-400);
    color: var(--grey-800);
    font-weight: bold;
    border-radius: 2px;
    box-shadow: 0 0.2em 0.3em -0.2em color(var(--grey-900) alpha(-30%));
  }
  & > .list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}
