@import url(../style/color.css);

@define-mixin triangle-top $size, $hsize, $color {
  width: 0;
  height: 0;
  border-bottom: $size solid $color;
  border-top: $size solid transparent;
  border-right: $hsize solid transparent;
  border-left: $hsize solid transparent;
}
@define-mixin triangle-bottom $size, $hsize, $color {
  width: 0;
  height: 0;
  border-bottom: $size solid transparent;
  border-top: $size solid $color;
  border-right: $hsize solid transparent;
  border-left: $hsize solid transparent;
}

.dropDown {
  display: inline-block;
  & > .button {
    display: block;
    margin: 0;
    padding: 0 0.2em;
    min-width: 1em;
    cursor: pointer;
    color: var(--grey-600);
    border: none;
    background: none;
    &:hover {
      color: var(--green-600);
    }
  }
}

.dropDownPortal {
  & > .cover {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
  }
  & > .content {
    position: relative;
    z-index: 1005;
    box-sizing: border-box;
    padding: 0;
    margin-top: 10px;
    margin-left: 0.4em;
    background-color: var(--grey-100);
    color: var(--grey-800);
    border: 1px solid var(--grey-400);
    border-radius: 2px;
    box-shadow: 0 0 3px -1px rgba(0, 0, 0, 0.5);
    text-align: left;
    white-space: nowrap;
    &:before {
      content: '';
      position: absolute;
      top: -20px;
      right: 0.4em;
      margin-right: 0;
      @mixin triangle-top 10px, 10px, var(--grey-400);
    }
    &:after {
      content: '';
      position: absolute;
      top: -18px;
      right: 0.4em;
      margin-right: 1px;
      @mixin triangle-top 9px, 9px, var(--grey-100);
    }
  }
  &.left > .content {
    margin-left: -0.4em;
    &:before {
      right: auto;
      left: 0.4em;
      margin-left: 0;
      margin-right: 0;
    }
    &:after {
      right: auto;
      left: 0.4em;
      margin-left: 1px;
      margin-right: 0;
    }
  }
  &.top > .content {
    margin-top: -10px;
    &:before {
      top: auto;
      bottom: -20px;
      @mixin triangle-bottom 10px, 10px, var(--grey-400);
    }
    &:after {
      top: auto;
      bottom: -18px;
      @mixin triangle-bottom 9px, 9px, var(--grey-100);
    }
  }
  &.noArrow > .content {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  & > li {
    margin: 0.2em;
    & > button, & > a {
      display: block;
      width: 100%;
      box-sizing: border-box;
      padding: 0.3em 0.5em;
      background-color: var(--grey-100);
      border: none;
      border-radius: 0.1em;
      text-align: left;
      &:hover, &:focus {
        background-color: var(--blue-200);
        color: var(--blue-800);
      }
      &.selected {
        background-color: var(--blue-700);
        color: var(--blue-100);
      }
    }
  }
}
